.idea/*
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/ObjcBikeGps.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
.DS_Store
ObjcBikeGps/Images/.DS_Store
